<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <div class="add-button">
    <%= f.submit "➕ Add ➕", class: "btn"%>
  </div>
<% end %>
<div class="back-button">
  <%= link_to "Back", cocktail_path(@cocktail), class: "btn" %>
</div>
